/**
* Media query for desktop device
*/

@media (min-width: 801px) {
  .container {
    div {
      section {
        width: 100%;
        section {
          float: left;
        }
        header {
          div {
            text-align: left !important;
          }
        }
      }
    }
  }
}