<div id="login" class="clearIndent">
    <div id="content">
        <div class="col-xs-6 img-responsive"></div>

        <div class="col-xs-6">
            <div class="header">
                <span class="col-xs-3">
                    <img src="app/assets/images/satish.svg" />
                </span>
                <span class="col-xs-9">Welcome to Satish's world</span>
            </div>
            <div class="body">
                <button *ngIf="!isUser" (click)="connect()">Connect with Facebook</button>
                <div *ngIf="!isUser" class="split"> --OR-- </div>
                <form>
                    <div>
                        <span>Username:</span>
                        <span><input type="text" name="username" id="username" value="" /></span>
                    </div>

                    <div>
                        <span>Password:</span>
                        <span><input type="password" name="password" id="password" value="" /></span>
                    </div>

                    <div>
                        <span><input type="submit" name="loginBtn" id="loginBtn" value="Sign In"></span>
                    </div>

                    <div>
                        <span><a href="#">Forgot password?</a></span>
                    </div>
                </form>
                <button class="register">Register Now</button>
            </div>
            <div class="footer"></div>
        </div>
    </div>
</div>