/* list of font sizes */
$fontSmall: 11px;
$fontMedium: 14px;
$fontLarge: 16px;

/* list of font styles */
$fontBold: bold;
$fontNormal: normal;
$fontItalic: italic;

/* list of font types */
$fonttype1: Tahoma, Verdana, Segoe, sans-serif;
$fonttype2: "Times New Roman", Georgia, Serif;
$fonttype3: Arial, 'Helvetica Neue', Helvetica, sans-serif;

/* list of web colors */
$darkgrey: #B8B8B8;
$lightgrey: #F4F4F4;
$white: #FFFFFF;
$black: #363636;
$yellow: #FFF200;
$lightblue: #6EB2C8;
$darkblue: #1A1C80;
$red: #E14107;
$green: #8CBC79;