/**
* Name: Satish Sekar
* SASS Stylesheet for the homepage
*/

@import "variables";
@import "mixins";
@import "media/_mobile";
@import "media/_tablet";
@import "media/_laptop";
@import "media/_desktop";

.stripspaces {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

body {
  @extend .stripspaces;
  .container {
    div {
      section {
        width: 600px;
        margin: 0px auto;
        header {
          padding: 15px 0px 30px 10px;
          div {
            font: $fontBold $fontMedium $fonttype3;
            text-align: center;
          }
        }

        section.left {
          width: 300px !important;
          .activity {
            height: 95px;
            clear: both;
            div {
              float: left;
            }
            .icon {
              background-image: url("../img/sprite.png");
              width: 95px;
              height: 95px;
              background-position: -95px 0px;
            }
            &:hover {
              .icon {
                background-position: 0px 0px !important;
              }
            }
            .label {
              @include link-color($black, $red, $black, $black);
              a {
                font-size: $fontMedium;
                line-height: 95px;
                margin-left: 10px;
              }
            }
            &:nth-child(2) {
              .icon {
                background-position: -95px -95px !important;
              }
            }
            &:nth-child(3) {
              .icon {
                background-position: -95px -190px !important;
              }
            }
            &:nth-child(4) {
              .icon {
                background-position: -95px -285px !important;
              }
            }
          }
          .activity + .activity {
            .icon {
              background-position: -95px -95px !important;
            }
            &:hover {
              .icon {
                background-position: 0px -95px !important;
              }
            }
          }
          .activity + .activity + .activity {
            .icon {
              background-position: -95px -190px !important;
            }
            &:hover {
              .icon {
                background-position: 0px -190px !important;
              }
            }
          }
          .activity + .activity + .activity + .activity {
            .icon {
              background-position: -95px -285px !important;
            }
            &:hover {
              .icon {
                background-position: 0px -285px !important;
              }
            }
          }
        }

        section.right {
          background-color: $lightgrey;
          padding: 15px;
          width: 300px !important;
          form {
            div:not(.submit) {
              background-color: $darkgrey;
              line-height: 44px;
              padding-left: 8px;
              height: 48px;
              color: $white;
              font-weight: $fontBold;
              margin-bottom: 12px;
              @include border-radius(6px);
              input[type=text] {
                width: 100%;
                background-color: transparent;
                color: $white;
                outline: 0px;
                border: 0px;
              }
              @include placeholder($white);
            }
            div:nth-child(4) {
              width: 55% !important;
              input[type=text] {
                width: 55% !important;
              }
            }
            div.submit {
              margin-top: 16px;
              input {
                float: right;
                width: 90px;
                height: 36px;
                background-color: $green;
                color: $white;
                font-weight: $fontBold;
                @include border-radius(5px);
              }
            }
          }
        }

        footer {
          clear: both;
          text-align: center;
          color: $darkgrey;
          font-size: $fontSmall;
        }
      }
    }
  }
}