<script id="modal-dialog" type="text/x-handlebars-template">​
	{{#if enable}}
	<div class="dialogMask"></div>
	<div class="dialogContainer">
		<div class="clearBoth">
			<div class="largeImg left">
				<img src="{{img}}" />
			</div>

			<div class="title left">{{title}}</div>
			<div class="description left">{{description}}</div>
			<div class="regularPrice left {{regularClass}}">Regular Price: ${{regularPrice}}</div>
			<div class="salePrice left" ng-if="dialogConfig.regularPrice !== dialogConfig.salePrice">Sale Price: ${{salePrice}}</div>
			<div class="customerRating left">Customer Rating: {{customerRating}}</div>
			<div class="closeBtn left"><a href="#">Close X</a></div>
		</div>
	</div>
	{{/if}}
</script>